@use '../../styles//variables' as v;

.subtitleLinks {
  @include v.flex-row;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  a {
    margin-left: 2em;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(110%) translateY(-5px);
    }
    img {
      z-index: 999;
      width: 3.5em;
    }
  }
}