@use '../../styles/variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';

.container {
  @include v.flex-column;
  @include v.medium-spacing;
  .section {
    width: 100%;
    height: fit-content;
    display: flex;
    @include v.flex-column;
    .heading {
      margin-bottom: 0.5em;
    }
    a {
      cursor: pointer;
    }
    .linkContainer {
      img {
        width: 2em;
        margin: 2em 1em;
      }
      a:hover, button:hover {
        img {
          transform: translateY(-0.3em);
        }
      }
    }
    .aboutContainer {
      width: 70%;
      height: 60vh;
      align-items: center;
      justify-content: space-between;
      @include v.flex-row;
      @include v.medium-spacing;
      img {
        height: 15em;
        border-radius: 50%;
        margin: 3em;
        box-shadow: 0 0 50px 50px $light-blue inset;
      }
      .textContainer {
        border-radius: 88% 12% 87% 13% / 18% 85% 15% 82%;
        width: 65%;
        height: 90%;
        @include v.medium-spacing;
        font-size: 1.3em;
        animation: border-move 10s infinite;
        div {
          width: 90%;
          height: 80%;
          margin-top: 10%;
          margin-left: 5%;
          p {
            padding: 1em;
          }
        }
        a {
          color: $bright-blue;
        }
        a:hover {
          font-weight: bold;
         }
      }
    }
  }
}

[data-theme='blossom'].container {
  .heading {
    color: $brighter-blue;
  }
  .textContainer {
   background-color: $yellow;
  }
  .arrow:hover, button:hover {
    color: $bright-blue;
  }
}

[data-theme='starry'].container {
  .textContainer {
   background-color: $light-purple;
   color: $dark-blue;
  
  }
  .arrow:hover, button:hover {
    color: nth($green, 4);
  }
}

@keyframes border-move{
  50%{ border-radius:13% 87% 11% 89% / 83% 17% 83% 17%; }
}