@use '../../styles/variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/typography';

.container {
  @include v.flex-column;
  @include v.medium-spacing;
  .section {
    width: 100%;
    height: fit-content;
    display: flex;
    @include v.flex-column;
    .heading {
      margin-bottom: 0.5em;
    }
    a {
      cursor: pointer;
    }
    .linkContainer {
      img {
        width: 2em;
        margin: 2em 1em;
      }
      a:hover, button:hover {
        img {
          transform: translateY(-0.3em);
        }
      }
    }
    .aboutContainer {
      width: 70%;
      height: 60vh;
      align-items: center;
      justify-content: space-between;
      overflow: hidden;
      @include v.flex-row;
      @include v.medium-spacing;
      .photoContainer {
        @include v.flex-column;
        img {
          height: 15em;
          border-radius: 50%;
          margin: 3em;
          box-shadow: 10px 10px 50px #ccc;
        }
        button {
          a { font-family: $accentFontFamily; }
          padding: 1em;
          border-radius: .5em;
          border-top: 2px solid $white;
          border-left: 2px solid $white;
          transition-duration: 1s;
          transition-property: border-top, border-left, border-bottom, border-right, box-shadow;
          &:hover {
            border-bottom: 2px solid $bubble-gum;
            border-right: 2px solid $bubble-gum;
            box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px;
          }
        }
      }
      .textContainer {
        border-radius: 88% 12% 87% 13% / 18% 85% 15% 82%;
        width: 65%;
        height: 90%;
        @include v.medium-spacing;
        font-size: 1.3em;
        animation: border-move 10s infinite;
        div {
          width: 90%;
          height: 80%;
          margin-top: 10%;
          margin-left: 5%;
          p {
            padding: 1em;
          }
        }
        a {
          color: $bright-blue;
        }
        a:hover {
          font-weight: bold;
         }
      }
    }
  }
}

[data-theme='blossom'].container {
  .heading {
    color: $brighter-blue;
  }
  .textContainer {
   background-color: $yellow;
  }
  .photoContainer button {
    a { color: $bright-blue; }
    background-color: $light-blue2;
    border-bottom: 2px solid $bright-blue;
    border-right: 2px solid $bright-blue;
    &:hover {
      border-top: 2px solid $bright-blue;
      border-left: 2px solid $bright-blue;
    }
  }
}

[data-theme='starry'].container {
  .textContainer {
   background-color: $light-purple;
   color: $dark-blue;
  }
  .photoContainer button {
    a { color: $bright-purple; }
    background-color: $light-purple;
    border-bottom: 2px solid $bright-purple;
    border-right: 2px solid $bright-purple;
    &:hover {
      border-top: 2px solid $bright-purple;
      border-left: 2px solid $bright-purple;
    }
  }
}

@keyframes border-move{
  50%{ border-radius:13% 87% 11% 89% / 83% 17% 83% 17%; }
}