@use '../../styles//variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/typography';

.container {
  height: 100vh;
  width: 100%;
  @include v.flex-column;
  overflow: hidden;
  position: relative;
  .themeSwitch {
    position: absolute;
    z-index: 2;
    left: 0;
  }
  .laptop {
    width: 100%;
    height: 90%;
    margin-top: auto;
    @include  v.flex-column;
    z-index: 1;
    .screen{
      width: 80%;
      height: 95%;
      border-radius: 1em;
      background-color: rgba(0, 0, 0, 0.921);
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      // .shine {
      //   content: '';
      //   width: 1%;
      //   height: 100%;
      //   position: absolute;
      //   transform: translateX(90%);
      //   /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#4c4c4c+32,595959+40,2b2b2b+19,666666+38,474747+58,2c2c2c+50,000000+49,111111+15,1c1c1c+61,131313+97;Black+Gloss+%231 */
      //   background: linear-gradient(to right,  rgba(76,76,76,1) 32%,rgba(89,89,89,1) 40%,rgba(43,43,43,1) 19%,rgba(102,102,102,1) 38%,rgba(71,71,71,1) 58%,rgba(44,44,44,1) 50%,rgba(0,0,0,1) 49%,rgba(17,17,17,1) 15%,rgba(28,28,28,1) 61%,rgba(19,19,19,1) 97%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      //   animation: slide 500ms linear infinite;
      // }
      .window {
        width: 95%;
        height: 90%;
        @include v.flex-column;
        backdrop-filter: blur(2px);
        z-index: 2;
        .windowBar {
          border-radius: 0.5em 0.5em 0 0;
          width: 100%;
          height: 5%;
          border: 1px solid rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 2px 0px $white;
          @include v.flex-row;
          justify-content: left;
          align-items: center;
          padding: 0.3em;
          .roundBtn {
            width: 1em;
            height: 1em;
            border-radius: 50%;
            background-color: black;
            margin: 0.3em;
            @for $i from 1 through 3 {
              &:nth-child(#{$i}) {
                background-color: nth($buttons, $i);
              }
            }
          }
        }
        .windowBody {
          width: 100%;
          height: 95%;
          @include v.flex-row;
          border: 1px solid rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 0px 2px 0px $white;
          border-radius: 0em 0em 0.5em 0.5em;
          .header {
            // width: 60%;
            text-align: center;
            @include v.flex-column;
            h1 {
              font-family: $titleFontFamily;
              font-size: 5.5em;
              margin-top: 0.3em;
            }
            .subtitle {
              @include v.flex-row;
              align-items: center;
              margin: 1em 0;
              h2 {
                font-family: $subtitleFontFamily;
                font-size: 1.5em;
                margin: 0 1.5em;
              }
              a {
                &:hover {
                  transform: translateY(-5px);
                }
                img {
                  width: 2.5em;
                  margin: 0 0.7em;
                  z-index: 999;
                }
              }
            }
          }
          .linkContainer {
            @include v.flex-column;
            align-items: flex-end;
            margin: 2em 0;
            a {
              font-family: $menuFontFamily;
              margin: 0.5em;
              padding: 0.2em;
              overflow: hidden;
              position: relative;
              display: inline-block;
              &::before, &::after {
                content: '';
                position: absolute;
                width: 100%;
                left: 0;
              }
              &::before {
                background-color: $bright-blue;
                height: 3px;
                bottom: 0;
                transform-origin: 100% 50%;
                transform: scaleX(0);
                transition: transform .3s ease-in-out;
              }
              &::after {
                content: attr(data-replace);
                height: 100%;
                top: 0;
                transform-origin: 100% 50%;
                transform: translate3d(200%, 0, 0);
                transition: transform .3s ease-in-out;
                color: $bright-blue;
              }
              &:hover::before {
                transform-origin: 0% 50%;
                transform: scaleX(1);
              }
              &:hover::after {
                transform: translate3d(0, 0, 0);
              }
              span {
                display: inline-block;
                transition: transform .3s ease-in-out;
              }
              &:hover span {
                transform: translate3d(-200%, 0, 0);
              }
            }
          }
        }
      }
    }
  }
  .keyboard {
    width: 82%;
    height: 5%;
    border-bottom: 50px solid $silver;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
  }
  .table {
    width: 100%;
    height: 10%;
    position: absolute;
    bottom: 0;
  }
  .image {
    position: absolute;
    z-index: 2;
    width: 80%;
    height: 'auto';
    top: 35%;
    left: 10%;
    transform: rotate(150deg);
    animation: rolling 15s ease-in-out infinite;
  }
}

[data-theme='blossom'].container {
  .windowBar {
    background-color: nth($window, 1);
  }
  .windowBody {
    background-color: nth($window, 2);
  }
  .table {
    background-color: $white;
  }
}

[data-theme='starry'].container {
  .windowBar {
    background-color: nth($window-dark, 1);
  }
  .windowBody {
    background-color: nth($window-dark, 2);
  }
  .table {
    background-color: rgb(16, 7, 7);
  }
}

@keyframes rolling {
  25% { transform: rotate(160deg);}
  75% { transform: rotate( 140deg);}
}

@keyframes slide {
  0% { transform: translateX(-100%); }
	100% { transform: translateX(100%); }
}

@media (orientation: landscape) {
  .header {
   width: 60%;
  }
}

@media (min-width: 1367px) {
  .linkContainer {
    width: 30%;
    span, a::after {
      font-size: 1.7em;
    }
  }
}

@media (min-width: 1367px) and (max-width: 1640px) {
  .header {
    font-size: 0.9em;
  }
}

@media (max-width: 1366px) {
  .linkContainer {
    width: 40%;
  }
  .image {
    width: 80%;
    top: 40%;
  }
}

@media (min-width: 1181px) and (max-width: 1366px) {
  .header {
    font-size: 1em;
  }
  .linkContainer {
    span, a::after {
      font-size: 2.2em;
    }
  }
}

@media (min-width: 1025px) and (max-width: 1180px) {
  .header {
    font-size: 0.8em;
  }
  .linkContainer {
    span, a::after {
      font-size: 1.7em;
    }
  }
}

@media (min-width: 941px) and (max-width: 1024px) {
  .header {
    font-size: 0.7em;
  }
  .linkContainer {
    span, a::after {
      font-size: 1.5em;
    }
  }
}

@media (min-width: 941px) {
  .roundBtn {
    width: 1em;
    height: 1em;
  }
}

@media (max-width: 940px) {
  .image {
    display: none;
  }
  .roundBtn {
    width: 0.7em;
    height: 0.7em;
  }
}

@media (max-width: 940px) and (min-width: 669px) {
  .header {
    font-size: 0.7em;
  }
  .subtitle {
    font-size: 0.7em;
  }
  .linkContainer {
    span, a::after {
      font-size: 1.4em;
    }
  }
}

@media (max-width: 668px) {
  .header {
    font-size: 0.6em;
  }
  .subtitle {
    font-size: 0.8em;
  }
  .linkContainer {
    span, a::after {
      font-size: 1.1em;
    }
  }
}

@media (orientation: portrait) {
  .table, .keyboard {
    display: none;
  }
  .screen {
    border-radius: 2em;
  }
  .windowBody {
    @include v.flex-column;
  }
  .header {
    font-size: 0.9em;
    width: 90%;
  }
  .subtitle {
    font-size: 0.9em;
    width: 100%;
  }
  .linkContainer {
    width: 80%;
    span, a::after {
      font-size: 1.5em;
    }
  }
  .image {
    display: none;
  }
}

@media (orientation: portrait) and (min-width: 1024px) {
  .header {
    font-size: 1.2em;
  }
  .linkContainer {
    span, a::after {
      font-size: 2em;
    }
  }
}

@media (orientation: portrait) and (max-width: 720px) {
  .header {
    font-size: 0.6em;
  }
  .subtitle {
    font-size: 0.7em;
  }
  .linkContainer {
    span, a::after {
      font-size: 1.2em;
    }
  }
}