@use '../../styles/variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';
@import '../../styles/typography';

.container {
  width: 100%;
  height: 25em;
  @include v.flex-column;
  @include v.centered;
  box-shadow: inset 20px 20px 20px $shadow, 25px 35px 20px $shadow, 25px 30px 30px $shadow, inset -20px -20px 25px $white;
  .header {
    @include v.flex-column;
    height: 30%;
    width: 90%;
    .linkWrapper {
      position: relative;
      display: block;
      .hover {
        &:after {
          content: '';
          position: absolute;
          bottom: -0.2em;
          left: 0;
          width: 100%;
          height: 3px;
          transform: scaleX(0);
          transform-origin: bottom left;
          transition: transform 0.3s;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
    }
    .linkContainer {
      @include flex-row;
      padding: 0.5em;
      img {
        width: 2em;
        margin: 0 1em;
      }
      a:hover {
        transform: translateY(-0.2em);
        transition: all 0.25s;
      }
    }
  }
  .contentContainer {
    height: 60%;
    width: 90%;
    position: relative;
    .imgContainer {
      position: relative;
      margin: 1em;
      width: 90%;
      height: 90%;
      img {
        max-width: 70%;
        height: 90%;
        border-radius: 10%;
        position: absolute;
        @include v.center-absolute;
        opacity: 1;
        transition: opacity .2s ease-out;
      }
    }
    .movingContainer {
      position: absolute;
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
      inset: 16em auto auto auto;
      opacity: 0;
      transition: inset .3s ease-in, opacity .3s ease-in;
      .seeMore {
        position: relative;
        display: inline-block;
        outline: none;
        margin: 1em;
        border: 0;
        padding: 0;
        vertical-align: middle;
        width: 7em;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 0;
          height: 1.5em;
          background: $dark-blue;
          border-radius: 1.625em;
        }
        .btnText {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          inset: 0 0 0 0;
          line-height: 1.5em;
          text-align: center;
          text-transform: uppercase;   
        }
        &:hover {
          .circle {
            width: 100%;
          }
          .btnText {
            color: #fff;
          }
        }
      }
    }
  }
  &:hover {
    .movingContainer {
      @include v.center-absolute;
      opacity: 1;
      transition: inset .3s ease-out opacity 0.1s ease-out;
    }
    .imgContainer {
      opacity: 0.3;
      transition: opacity .3s ease-in;
    }
  }
}

[data-theme='blossom'].linkWrapper { 
  .hover:after { background-color: $dark-blue; }
}
[data-theme='starry'].linkWrapper {
  .hover:after { background-color: $white; }
}

/* floating animation */
@for $i from 1 through 7 {
  .floating-#{$i} {
    animation-name: floating#{$i};
    animation-duration: $i*10+s;
    animation-iteration-count: infinite;
  }
  @keyframes floating#{$i} {
    0% { 
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(1))+px) translateX(random(1)+px);
      border-radius: 50% 50% 40% 60% / 59% 57% 43% 41%; 
    }
    10% { 
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(5))+px) translateX(random(5)+px);
      border-radius: 39% 61% 38% 62% / 53% 54% 46% 47%; 
    }
    20% {
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(10))+px) translateX(random(10)+px);
      border-radius: 56% 44% 52% 48% / 57% 35% 65% 43%;
    }
    30% {
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(15))+px) translateX(random(15)+px);
      border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%; 
    }
    40%{ 
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(20))+px) translateX(random(20)+px);
      border-radius: 46% 54% 60% 40% / 55% 74% 26% 45%; 
    }
    50% {
      transform: rotate(random($i)*(-1)*1+deg) translateY((random(25))+px) translateX(random(25)+px);
      border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%;
    }
    60% { 
      transform: rotate(random($i)*2+deg) translateY((random(20))+px) translateX(random(20)+px);
      border-radius: 31% 69% 32% 68% / 31% 71% 29% 69%; 
    }
    70% {
      transform: rotate(random($i)*2+deg) translateY((random(15))+px) translateX(random(15)+px);
      border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%;
    }
    80% { 
      transform: rotate(random($i)*2+deg) translateY((random(10))+px) translateX(random(10)+px);
      border-radius: 46% 54% 38% 62% / 44% 48% 52% 56%; 
    }
    90% { 
      transform: rotate(random($i)*2+deg) translateY((random(5))+px) translateX(random(5)+px);
      border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%; 
    }
    100% { 
      transform: rotate(random($i)*2+deg) translateY((random(1))+px) translateX(random(1)+px);
      border-radius: 50% 50% 40% 60% / 59% 57% 43% 41%; 
    }
  }
}              



