@use '../../styles/variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';

.container {
  width: 100%;
  height: 100%;
  @include v.flex-column;
  justify-content: space-around;
  .header {
    @include v.flex-column;
    height: 30%;
    width: 90%;
    .linkWrapper {
      position: relative;
      display: block;
      .hover {
        &:after {
          content: '';
          position: absolute;
          bottom: -0.2em;
          left: 0;
          width: 100%;
          height: 3px;
          transform: scaleX(0);
          transform-origin: bottom left;
          transition: transform 0.3s;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
    }
    .linkContainer {
      @include flex-row;
      padding: 0.5em;
      img {
        width: 2em;
        margin: 0 1em;
      }
      a:hover {
        transform: translateY(-0.2em);
        transition: all 0.25s;
      }
    }
  }
  .contentContainer {
    height: 60%;
    width: 90%;
    position: relative;
    .imgContainer {
      position: relative;
      margin: 1em;
      width: 90%;
      height: 90%;
      img {
        max-width: 70%;
        height: 90%;
        border-radius: 10%;
        position: absolute;
        @include v.center-absolute;
        opacity: 1;
        transition: opacity .2s ease-out;
      }
    }
    .movingContainer {
      position: absolute;
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
      inset: 16em auto auto auto;
      opacity: 0;
      transition: inset .3s ease-in, opacity .3s ease-in;
      .seeMore {
        position: relative;
        display: inline-block;
        outline: none;
        margin: 1em;
        border: 0;
        padding: 0;
        vertical-align: middle;
        width: 7em;
        height: auto;
        .circle {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: relative;
          display: block;
          margin: 0;
          width: 0;
          height: 1.5em;
          background: $dark-blue;
          border-radius: 1.625em;
        }
        .btnText {
          transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
          position: absolute;
          inset: 0 0 0 0;
          line-height: 1.5em;
          text-align: center;
          text-transform: uppercase;   
        }
        &:hover {
          .circle {
            width: 100%;
          }
          .btnText {
            color: #fff;
          }
        }
      }
    }
  }
  &:hover {
    .movingContainer {
      @include v.center-absolute;
      opacity: 1;
      transition: inset .3s ease-out opacity 0.1s ease-out;
    }
    .imgContainer {
      opacity: 0.3;
      transition: opacity .3s ease-in;
    }
  }
}              

[data-theme='blossom'].linkWrapper { 
  .hover:after { background-color: $dark-blue; }
}
[data-theme='starry'].linkWrapper {
  .hover:after { background-color: $white; }
}

