@use '../../styles/variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';

.container {
  width: 100%;
  height: 100%;
  @include v.flex-column;
  justify-content: space-around;
  overflow: hidden;
  .header {
    @include v.flex-column;
    height: 30%;
    width: 90%;
    .linkWrapper {
      position: relative;
      display: block;
      .hover {
        &:after {
          content: '';
          position: absolute;
          bottom: -0.2em;
          left: 0;
          width: 100%;
          height: 3px;
          background-color: $dark-blue;
          transform: scaleX(0);
          transform-origin: bottom left;
          transition: transform 0.3s;
        }
        &:hover:after {
          transform: scaleX(1);
        }
      }
    }
    .linkContainer {
      @include flex-row;
      padding: 0.5em;
      img {
        width: 2em;
        margin: 0 1em;
      }
      a:hover {
        transform: translateY(-0.2em);
        transition: all 0.25s;
      }
    }
  }
  .contentContainer {
    height: 60%;
    width: 90%;
    position: relative;
   
    .imgContainer {
      margin: 1em;
      width: 100%;
      img {
        max-width: 70%;
        height: 70%;
        border-radius: 10%;
        position: absolute;
        @include v.center-absolute;
        opacity: 1;
        transition: opacity .2s ease-out;
      }
    }
    .movingContainer {
      position: absolute;
      width: 100%;
      font-size: 1.5em;
      font-weight: bold;
      inset: 16em auto auto auto;
      transition: inset .3s ease-out;
      button {
        position: relative;
        @include v.reset-spacing;
        font-weight: bold;
        font-size: 0.8em;
        p {
          position: relative;
          margin: 0;
          &:after {
            content: '';
            position: absolute;
            bottom: -0.2em;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $brighter-blue;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 0.3s ease-out;
          }
          &:hover:after {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  &:hover {
    .movingContainer {
      @include v.center-absolute;
      transition: inset .3s ease-out;
      
    }
    .imgContainer {
      opacity: 0.3;
      transition: opacity .3s ease-in;
    }
  }
}              



