$white: rgba(255,255,255,0.9);
$light-blue: #EBFCFF;
$light-blue2: #cafbff;
$bright-blue: #00A9CA;
$brighter-blue: #05bce4;
$dark-blue: #0e243c;
$dark-blue2: #495563;
$brown: #994700;
$dark-brown: #28211E;
$green: (#CEF1FF, #AEF9FF, #99FFED, #A2FFC9);
$yellow: #F9F871;
$bright-purple: #7d2dfe;
$bubble-gum: #DA73DE;
$light-purple: #FCEAFF;
$shadow: rgba(0,0,0,0.05);
$buttons: (#FF6057, #FDBD30, #27C840);
$window: (#9FB4D6, #EBE2DC);
$window-dark: (#0b315c, #34284d);
$silver: rgb(118, 118, 118);
$light-silver: #C4C5CA;
$dark: (#0d243c82, #122b464c, #17314c2e, #1f3a581b)