$white: rgba(255,255,255,0.9);
$light-blue: #EBFCFF;
$light-blue2: #cafbff;
$blue: #00c5ed;
$bright-blue: #00A9CA;
$brighter-blue: #05bce4;
$dark-blue: #0e243c;
$dark-blue2: #495563;
$brown: #994700;
$dark-brown: #28211E;
$green: (#CEF1FF, #AEF9FF, hsl(169, 100%, 80%), #A2FFC9, #006040, hsl(170, 100%, 91%), hsl(169, 100%, 83%));
$purple: (#555a9a, #6165b8, #7350b4, #7e44a4, #f7c6ff, #4247af);
$yellow: #F9F871;
$bright-purple: #7d2dfe;
$bubble-gum: #DA73DE;
$light-purple: #FCEAFF;
$medium-purple: #928cea;
$shadow: rgba(0,0,0,0.05);
$buttons: (#FF6057, #FDBD30, #27C840);
$window: (#9FB4D6, #EBE2DC);
$window-dark: (#0b315c, #34284d);
$keyboard: (#C4C5CA, rgb(118, 118, 118));
$mouse: (gainsboro, #C4C5CA);
$silver: rgb(118, 118, 118);
$light-silver: #C4C5CA;
$dark: (#0d243c82, #122b464c, #17314c2e, #1f3a581b)