@font-face {
  font-family: 'Lemon Milk';
  src: local('Lemon Milk'), url('../assets/fonts/LemonMilkMedium.otf') format('opentype');
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: local('Champagne & Limousines'), url('../assets/fonts/ChampagneAndLimousinesRegular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Champagne & Limousines';
  src: local('Champagne & Limousines'), url('../assets/fonts/ChampagneAndLimousinesBold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Moonglade';
  src: local('Moonglade'), url('../assets/fonts/MoongladeBold.ttf') format('truetype');
}

@font-face {
  font-family: 'Nico Moji';
  src: local('Nico Moji'), url('../assets/fonts/NicoMojiRegular.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

$headingFontFamily: 'Moonglade', sans-serif;
$accentFontFamily: 'Lemon Milk', sans-serif;
$bodyFontFamily: 'Champagne & Limousines', sans-serif;
$titleFontFamily: 'Bungee Shade', sans-serif;
$subtitleFontFamily: 'Press Start 2P', sans-serif;
$menuFontFamily: 'Nico Moji', sans-serif;