@mixin flex-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@mixin flex-row {
  display: flex;
  justify-content: center;
}

@mixin centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin large-spacing {
  margin: 3em;
  padding: 2em;
}

@mixin medium-spacing {
  margin: 2em;
  padding: 1em;
}

@mixin small-spacing {
  margin: 1em;
  padding: 0.5em;
}

@mixin reset-spacing {
  margin: 0;
  padding: 0;
}

@mixin center-absolute {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

$radius: (
  1: (30% 70% 66% 34% / 54% 37% 63% 46%), 
  2: (55% 45% 36% 64% / 67% 59% 41% 33%), 
  3: (71% 29% 33% 67% / 34% 56% 44% 66%),
  4: (57% 43% 52% 48% / 49% 41% 59% 51%),
  5: (62% 38% 50% 50% / 58% 58% 42% 42%),
  6: (57% 43% 57% 43% / 40% 41% 59% 60%),
);

$breakpoints: (
  phone: 640px,
  tablet: 768px,
  desktop: 1024px,
  large-desktop: 1400px,
  hd-screen: 1600px,
  fhd-screen: 1900px,
  uhd-screen: 3840px,
);

@mixin media($from, $to: null) {
  $min-width: if($from == 'none', null, map-get($breakpoints, $from));
  $max-width: if($to == 'none', null, map-get($breakpoints, $to));

  @if $min-width {
    @media screen and (min-width: $min-width) {
      @if $max-width {
        @media screen and (max-width: $max-width) {
          @content;
        }
      } @else {
        @content;
      }
    }
  } @else if $max-width {
    @media screen and (max-width: $max-width) {
      @content;
    }
  }
}