@use '../../styles/variables' as v;
@import '../../styles/typography';
@import '../../styles/colors';

.container {
  width: 100%;
  margin: 2em 0;
}

@media (orientation: landscape) {
  .container {
    min-height: calc(100vh - 7vh - 5vh - 4em);
    @include v.flex-row;
    align-items: center;
    .imgContainer {
      width: 30%;
      height: 90%;
    }
    .formContainer {
      height: 90%;
    }
  }
}

@media (orientation: landscape) and (min-width: 1181px) {
  .formContainer { width: 30%; }
}

@media (orientation: landscape) and (min-width: 1024px) and (max-width: 1180px) {
  .formContainer { width: 40%; }
}

@media (orientation: portrait) {
  .container {
    @include v.flex-column;
    height: fit-content;
    .formContainer { width: 100%; }
  }
}