@use '../../styles/variables' as v;
@import '../../styles/typography';
@import '../../styles/colors';

.container {
  width: 100%;
  margin: 2em 0;
  height: calc(100vh - 7vh - 5vh - 4em);
}

@media (orientation: landscape) {
  .container {
    @include v.flex-row;
    align-items: center;
    .imgContainer {
      width: 30%;
      height: 90%;
    }
    .formContainer {
      width: 30%;
      height: 90%;
    }
  }
}

@media (orientation: portrait) {
  .container {
    @include v.flex-column;
    align-items: center;
    height: 100%;
    .formContainer { width: 100%; }
  }
}
