@use '../../styles/variables' as v;
@import '../../styles/typography';
@import '../../styles/colors';

.container {
  height: calc(100vh - 7vh - 6vh);
  width: 100%;
  @include v.flex-row;
  padding: 3em;
  .imgContainer {
    width: 40%;
    margin: 2em;
  }
  
}