@use '../../styles/variables' as v;
@import '../../styles/colors';
@import '../../styles/typography';

.container {
  width: 100%;
  border-radius: 4px;
  padding: .4em;
  gap: 7px;
  .skillContainer {
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    .contentCon {
      padding: 0.5em;
      @include v.flex-column;
      justify-content: center;
      h1 {
        text-align: center;
        font-family: $accentFontFamily;
        letter-spacing: .1em;
        margin-bottom: 0.5em;
        transition: all 0.5s ease-in-out;
      }
      div {
        width: 100%;
        @include v.flex-row;
        flex-wrap: wrap;
        opacity: 0;
        margin-top: 1em;
        transform: translateY(100%);
        transition: all 0.5s ease-in-out;
        span {
          @include v.flex-column;
          transition: all 1s ease-in-out;
          margin: 1em;
          img {
            width: auto;
            transition: all 0.3s ease-in-out;
          }
          p {
            font-weight: bold;
            opacity: 0; 
            transform: translateY(-30px);
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            p { 
              opacity: 1;
              transform: translateY(7px);
            }
            img { transform: scale(110%); }
          }
        }
      }
    }
    &:hover .contentCon {
      div {
        opacity: 1;
        transform: translateY(0);
      } 
    }
  }
}

[data-theme='blossom'].container {
  .skillContainer {
    color: $dark-blue;
    @for $i from 1 through length($green) {
      &:nth-child(#{$i}) {
        background-color: rgba(nth($green, $i), 50%);
        border: 2px solid nth($green, $i);
      }
    }
  }
}

[data-theme='starry'].container {
  .skillContainer {
    @for $i from 1 through length($purple) {
      &:nth-child(#{$i}) {
        background-color: rgba(nth($purple, $i), 50%);
        border: 2px solid nth($purple, $i);
      }
    }
  }
}

@media (orientation: landscape) {
  .container {
    height: 50vh;
    @include v.flex-row;
    .skillContainer {
      height: 100%;
      flex: 1;
      @include v.centered;
      &:hover {
        flex: 6;
        .contentCon h1 { transform: translateY(0) rotate(0); }
      }
      .contentCon {
        height: 100%;
        h1 { transform: translateY(4em) rotate(-90deg); }
        div { height: 70%; } 
      }
    }
  }
}

@media (min-width: 1680px) and (orientation: landscape) {
  .container {
    width: 50%;
    .contentCon {
      span img { height: 4em; }
      h1 { font-size: 2.2em; }
    }
  }
}

@media (max-width: 1679px) and (orientation: landscape) {
  .container {
    width: 80%;
    .contentCon {
      span img { height: 2.5em; }
      h1 { font-size: 2em; }
    }
  }
}

@media (orientation: portrait) or (max-width: 1023px) {
  .container {
    @include v.flex-column;
    .skillContainer {
      width: 100%;
      transition: all 0.5s ease-in-out;
      height: 10vh;
      &:hover { 
        height: fit-content;
        .contentCon h1 { transform: translateY(0.5em); }
      }
      .contentCon h1 {
        transform: translateY(1.5em);
        transition: all 0.5s ease-in-out;
      }
      &.notHovered .contentCon h1 { transform: scale(50%) translateY(-1.5em); }
    }
  }
}

@media (orientation: portrait) and (min-width: 768px) and (max-width: 1024px) {
  .container .contentCon {
    h1 { font-size: 1.5em; }
    div span img { height: 3em; }
  }
}

@media (orientation: portrait) and (max-width: 767px) {
  .container .contentCon {
    h1 { font-size: 1em; }
    div span img { height: 2em; }
  }
}


