@use '../../styles/variables' as v;
@import '../../styles/colors';
@import '../../styles/typography';

.container {
  width: 100%;
  height: 50vh;
  border-radius: 4px;
  padding: .4em;
  gap: 7px;
  @include v.flex-row;
  /* loading bar animation - save */
  // .loadingBar {
  //   position: relative;
  //   width: 200px;
  //   height: 50px;
  //   cursor: pointer;
  //   border-radius: 5px;
  //   border: 2px solid #272727;
  //   overflow: hidden;
  //   .fill {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     background: hotpink;
  //   }
  //   .content {
  //     position: absolute;
  //     top: 0;
  //     left: 0;
  //     width: 100%;
  //     height: 100%;
  //     display: flex;
  //     align-items: center;
  //     justify-content: center;
  //     color: #272727;
  //   }
  // }
  .skillContainer {
    @include v.centered;
    height: 100%;
    flex: 1;
    overflow: hidden;
    border-radius: 4px;
    cursor: pointer;
    &:hover {
      flex: 6;
    }
    .contentCon {
      height: 100%;
      padding: 0.5em;
      @include v.flex-column;
      justify-content: center;
      h1 {
        transform: translateY(4em) rotate(-90deg);
        text-align: center;
        font-family: $accentFontFamily;
        letter-spacing: .1em;
        transition: all 0.5s ease-in-out;
      }
      div {
        width: 100%;
        height: 70%;
        @include v.flex-row;
        flex-wrap: wrap;
        opacity: 0;
        margin-top: 0.5em;
        transform: translateY(100%);
        transition: all 0.5s ease-in-out;
        span {
          @include v.flex-column;
          transition: all 1s ease-in-out;
          margin: 0 1em;
          img {
            height: auto;
            transition: all 0.3s ease-in-out;
          }
          p {
            font-weight: bold;
            opacity: 0; 
            transform: translateY(-30px);
            transition: all 0.5s ease-in-out;
          }
          &:hover {
            p { 
              opacity: 1;
              transform: translateY(5px);
            }
            img { transform: scale(110%); }
          }
        }
      }
    }
    &:hover .contentCon {
      h1 { transform: translateY(0) rotate(0); }
      div {
        opacity: 1;
        transform: translateY(0);
      } 
    }
  }
}

[data-theme='blossom'].container {
  .skillContainer {
    color: $dark-blue;
    @for $i from 1 through length($green) {
      &:nth-child(#{$i}) {
        background-color: rgba(nth($green, $i), 50%);
        border: 2px solid nth($green, $i);
      }
    }
  }
}

[data-theme='starry'].container {
  .skillContainer {
    @for $i from 1 through length($purple) {
      &:nth-child(#{$i}) {
        background-color: rgba(nth($purple, $i), 50%);
        border: 2px solid nth($purple, $i);
      }
    }
  }
}

@media (min-width: 1440px) {
  .container {
    width: 50%;
    .contentCon h1 { font-size: 2.2em; }
  }
}

@media (max-width: 1439px) {
  .container {
    width: 70%;
    .contentCon h1 { font-size: 2em; }
  }
}

@media (orientation: landscape) or (min-width: 768px) {
  .container { 
    .contentCon div span img { width: 4em; } 
  }
}

@media (orientation: portrait) and (max-width: 767px) {
  .container { 
    width: 100%;
    height: 60vh;
    .contentCon {
      h1 { font-size: 1.4em; }
      div span img { width: 1.8em; }
    }
  }
}

