@use '../../styles//variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';

.container {
  @include v.flex-row;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  .cardContainer {
    @include v.flex-row;
    @include v.medium-spacing;
    flex-basis: 25%;
    height: 25em;
    align-items: center;
    text-align: center;
    box-shadow: inset 20px 20px 20px $shadow, 25px 35px 20px $shadow, 25px 30px 30px $shadow, inset -20px -20px 25px $white;
    @for $i from 1 through 6 {
      &:nth-child(#{$i}) {
        animation-name: floating#{$i};
        animation-duration: $i*30+s;
        animation-iteration-count: infinite;
      }
      @keyframes floating#{$i} {
        0% { 
          border-radius: 51% 49% 34% 66% / 39% 66% 34% 61%; 
        }
        10% { 
          transform: rotate(random($i)*(-1)*1+deg) translateY((random(5))+px) translateX(random(5)+px);
          border-radius: 39% 61% 38% 62% / 53% 54% 46% 47%; 
        }
        20% {
          transform: rotate(random($i)*(-1)*1+deg) translateY((random(10))+px) translateX(random(10)+px);
          border-radius: 56% 44% 52% 48% / 57% 35% 65% 43%;
        }
        30% {
          transform: rotate(random($i)*(-1)*1+deg) translateY((random(15))+px) translateX(random(15)+px);
          border-radius: 41% 59% 45% 55% / 33% 56% 44% 67%; 
        }
        40%{ 
          transform: rotate(random($i)*(-1)*1+deg) translateY((random(20))+px) translateX(random(20)+px);
          border-radius: 46% 54% 60% 40% / 55% 74% 26% 45%; 
        }
        50% {
          transform: rotate(random($i)*(-1)*1+deg) translateY((random(25))+px) translateX(random(25)+px);
          border-radius: 44% 56% 22% 78% / 31% 74% 26% 69%;
        }
        60% { 
          transform: rotate(random($i)*2+deg) translateY((random(20))+px) translateX(random(20)+px);
          border-radius: 31% 69% 32% 68% / 31% 71% 29% 69%; 
        }
        70% {
          transform: rotate(random($i)*2+deg) translateY((random(15))+px) translateX(random(15)+px);
          border-radius: 44% 56% 60% 40% / 63% 36% 64% 37%;
        }
        80% { 
          transform: rotate(random($i)*2+deg) translateY((random(10))+px) translateX(random(10)+px);
          border-radius: 46% 54% 38% 62% / 44% 48% 52% 56%; 
        }
        90% { 
          transform: rotate(random($i)*2+deg) translateY((random(5))+px) translateX(random(5)+px);
          border-radius: 66% 34% 57% 43% / 49% 51% 49% 51%; 
        }
        100% { 
          border-radius: 51% 49% 34% 66% / 39% 66% 34% 61%; 
        }
      }
    }
  }
}



