@use '../../styles/variables' as v;
@import '../../styles/typography';
@import '../../styles/colors';

.container {
  @include v.flex-column;
  width: 100%;
  align-items: center;
  .contactForm {
    @include v.flex-column;
    align-items: flex-start;
    width: 100%;
    max-height: 90%;
    font-size: 1.0em;
    border-radius: 1em;
    font-family: $bodyFontFamily;
    @include v.medium-spacing;
    label {
      font-family: $headingFontFamily;
      margin: 0.5em 0 0.5em 1.2em;
    }
    input, textarea {
      width: 90%;
      @include v.small-spacing;
      border-radius: 4px;
    }
    button {
      align-self: center;
      @include v.small-spacing;
      width: 7em;
      height: 2.5em;
      border-radius: 0.5em;
      @include v.flex-row;
      align-items: center;
      overflow: hidden;
      transition: all 0.2s;
      font-weight: bold;
      transition: all 0.3s;
      img { width: 1.5em; } 
      .word {
        transition: all 0.3s ease-in-out;
        margin: 0 auto;
        color: $white;
      }
      &:hover {
        img { transform: rotate(45deg) translateX(1.5em) translateY(-1.7em) scale(1.1); }
        .word { transform: translateX(5em); }
      }
    }
  }
}

[data-theme='blossom'].container {
  h2 { color: $blue; }
  .contactForm {
    input, textarea { border: 1px solid $dark-blue; }
    button {
      background-color: $bright-blue;
      &:hover {
        background-color: $brighter-blue;
        box-shadow: 2px 5px 16px 0px $bright-blue, 5px 5px 8px -2px $white;
      }
    }
  }
}

[data-theme='starry'].container {
  h2 { color: $medium-purple; }
  .contactForm {
    input, textarea {
      color: $white;
      background-color: $dark-blue2;
      border: 1px solid $dark-blue;
    }
    button {
      background-color: $dark-blue2;
      &:hover {
        background-color: $bright-blue;
        box-shadow: 2px 5px 16px 0px $light-blue, 5px 5px 8px -2px rgba(0,0,0,0);
      }
    }
  }
}

@media (min-width: 431px) {
  .contactForm {
    input { height: 2em; }
    textarea { height: 10em; }
  }
}
@media (max-width: 430px) {
  .contactForm {
    input { height: 1.5em; }
    textarea { height: 5em; }
  }
}