@import '../../styles/colors';

.navbar {
  height: 7vh;
  color: $dark-blue;
  font-size: 1.5rem;
  .favicon {
    height: 5rem;
  }
  a {
    height: 90%;
    float: right;
    padding-right: 2rem;
  }
  a:first-child {
    float: left;
  }
  a img {
    height: 100%;
    padding-right: 0.3rem;
  }
  a:not(:first-child) img {
    transform: scale(0);
  }
  a:hover img{
    transform: scale(1);
    transition: all 0.5s;
  }
  a[class='active'] img {
    transform: scale(1);
  }
}

[data-theme='blossom'].navbar {
  a:hover, a[class='active'] {
    color: $brown;
    transition: all 0.5s;
  }
}

[data-theme='starry'].navbar {
  a {
    color: $light-blue;
  }
  a:hover, a[class='active'] {
  color: $brown;
  transition: all 0.5s;

}
}
  

