@import '../../styles/colors';
@import '../../styles/typography';

.navbar {
  height: 7vh;
  color: $dark-blue;
  font-size: 1.5em;
  font-family: $titleFontFamily;
  .favicon {
    height: 3em;
  }
  a {
    height: 90%;
    float: right;
    padding-right: 2em;
    &:first-child {
      float: left;
    }
    & img {
      height: 100%;
      padding-right: 0.3em;
    }
    &:not(:first-child) img {
      transform: scale(0);
    }
    &:hover img{
      transform: scale(1);
      transition: all 0.5s;
    }
    &[class='active'] img {
      transform: scale(1);
    }
  }
}
[data-theme='blossom'].navbar {
  a {
    &:hover, &[class='active'] {
      color: $brown;
      transition: all 0.5s;
    }
  }
}

[data-theme='starry'].navbar {
  a {
    color: $light-blue;
    &:hover, &[class='active'] {
      color: $brown;
      transition: all 0.5s;
      
    }
  }
}
  

