@use '../../styles//variables' as v;
@import '../../styles/variables';
@import '../../styles/colors';

$slide-size-small: 30%;
$slide-size-medium: 45%;
$slide-size-full: 90%;
$slide-spacing: 2em;

.container {
  width: 100%;
  height: fit-content;
  .viewport {
    width: 100%;
    overflow: hidden;
    height: fit-content;
    .carousel {
      display: flex;
      align-items: center;
      .card {
        height: fit-content;
        @include v.centered;
        @include v.medium-spacing;
      }
    }
  }
  .navContainer {
    @include v.flex-row;
    width: 100%;
    .navButton {
      display: flex;
      border-radius: 99px;
      border: 1px solid black;
      width: 40px;
      height: 40px;
      padding: 0.5em;
      transition: all 0.1s ease-in-out;
      @include v.centered;
      img { width: 1em; }
      &:disabled { opacity: 50%; }
      &:hover { transform: scale(110%); }
    }
    .prev img { transform: rotate(180deg);}
    .dotContainer {
      width: fit-content;
      @include v.centered;
      .baseDot {
        border-radius: 99px;
        width: 10px;
        height: 10px;
      }
      .unselectedDot {
        background-color: gray;
      }
      .selectedDot {
        width: 15px;
        height: 15px;
        background-color: $bright-blue;
      }
    }
  }
}

@media (min-width: 1440px) {
  .carousel .card { flex: 0 0 $slide-size-small; }
}

@media (min-width: 768px) and (max-width: 1439px) and (orientation: landscape) {
  .carousel .card { flex: 0 0 $slide-size-medium; }
}

@media (orientation: landscape) {
  .container {
    .viewport { 
      .carousel {
      margin-left: $slide-spacing;
        padding: 2em 0; 
        .card { padding-left: $slide-spacing; }
      }
    }
    .navContainer {
      margin-top: 4em;
      margin-bottom: 3em;
      .dotContainer { 
        margin: 0 1em;
        .baseDot { margin: 0 1em; }
      }
    }
  }
}
@media (orientation: portrait) {
  .container {
    .viewport { padding: 1em 0; }
    .navContainer {
      margin-top: 1em;
      margin-bottom: 3em;
      .dotContainer { 
        margin: 0 0.5em;
        .baseDot { margin: 0 0.7em; }
      }
    }
  }
}

@media (max-width: 767px) or (orientation: portrait) {
  .carousel  {
    margin-left: calc(10% / 2);
    .card { flex: 0 0 $slide-size-full; }
  }
  
}

[data-theme='starry'].container {
  .navButton { border-color: white; }
}