@use '../../styles//variables' as v;

.container {
  width: 100%;
  height: 5vh;
  @include v.flex-row;
  padding: 0.5em 1em;
  div a {
    img { width: 1.5em; }
  }
  .favicon {
    height: 100%;
    width: auto;
  }
}