@import './styles/colors';
@import './styles/typography';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  h1 {
    font-family: $titleFontFamily;
    font-size: 4em;
  }
  h2 {
    font-family: $bodyFontFamily;
    font-weight: bold;
    font-size: 3em;
  }
  p, a {
    font-family: $bodyFontFamily;
    font-size: 1em;
  }
}

[data-theme='blossom'].container {
  background-color: $light-blue;
  color: $dark-blue;
  button {
    color: $dark-blue;
  }
}

[data-theme='starry'].container {
  background-color: $dark-blue;
  color: $white;
  button {
    color: $white;
  }
}

