@import './styles/colors';
@import './styles/typography';
@import './styles/variables';

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  h1 {
    font-family: $headingFontFamily;
    font-size: 4em;
  }
  h2 {
    font-family: $bodyFontFamily;
    font-weight: bold;
    font-size: 3em;
  }
  p, a {
    font-family: $bodyFontFamily;
    font-size: 1em;
    font-weight: bold;
  }
  button, button a {
    font-family: $accentFontFamily;
    font-size: 1em;
  }
}

[data-theme='blossom'].container {
  background: linear-gradient(to bottom, $light-blue, $light-blue2);
  background-color: $light-blue;
  color: $dark-blue;
  button, a {
    color: $dark-blue;
  }
}

[data-theme='starry'].container {
  background: linear-gradient(to bottom, $dark-blue, $dark-blue2);
  background-color: $dark-blue;
  color: $light-blue;
  button {
    color: $light-blue;
  }
}

@media screen and (min-width: $phone) and (max-width: $tablet) {

}

@media screen and (max-width: $phone) {
  
}